<div class="main">
<H3>PROYECTO </H3>
	La conservación y preservación de las obras de arte digital es un tema de debate y reflexión desde fines del siglo pasado. Nos enfrentamos al dilema de que las herramientas, las prácticas e incluso los objetos de arte que queremos preservar se encuentra en un permanente estado de fluidez. Los debates sobre la preservación derivan de las características particulares de las prácticas artísticas que involucran el uso de tecnología. Este tipo de obras es inherentemente frágil e inestable, en tanto su preservación y reproductibilidad están estrechamente ligadas a los desarrollos tecnológicos en permanente cambio y renovación. La obsolescencia tecnológica no sólo representa el bloqueo de la información y el eventual riesgo de su pérdida, sino su distorsión e interpretación errónea al no haber estudiado de forma pormenorizada cada material y cada obra. <br><br>

	El objetivo general del presente proyecto es crear una plataforma on-line que permita la catalogación, conservación, archivo y acceso al patrimonio cultural de obras de arte digitales. Estas se definen como aquellas prácticas artísticas articuladas en torno a las nuevas tecnologías digitales. En esta etapa inicial, el proyecto se centrará en aquellas prácticas de video arte y de arte sonoro. <br><br>

	Esta plataforma servirá, en una primera instancia, para el resguardo patrimonial de Bahía Blanca, ya que hasta el momento no se han generado mecanismos de conservación de obras de arte digital a pesar de amplia trayectoria de esta disciplina en la ciudad. En este sentido resulta necesario diseñar un formato de conservación que atienda a las características propias de las prácticas de arte que involucran tecnologías. Su contenido proviene de dos nodos, proponiendo de este modo el inicio de una red. Uno de los nodos está constituido por el patrimonio de obras tecnológicas Museo de Arte Contemporáneo, Bahía Blanca. El otro incluye las obras de música electroacústica presentadas en el Festival Bahía[in]sonora, coordinado por Ricardo de Armas. <br><br>

	El Museo de Arte Contemporáneo de Bahía Blanca, fundado en abril de 1995, fue el primer museo del interior del país dedicado exclusivamente a las manifestaciones de arte contemporáneo. Desde su creación desarrolla ininterrumpidamente bienales nacionales y regionales. A partir de la bienal nacional de arte 2013, se incorporó la primera Bienal de Videoarte y de Arte Sonoro. Se recibieron más de 60 obras en video y más de 30 de arte sonoro, lo que constituye un bagaje patrimonial exclusivo en una entidad pública. <br><br>

	Por su parte el Festival Bahía[in]sonora está coordinado por Ricardo de Armas. Este festival se desarrolla, con apoyo del Instituto Cultural de Bahía Blanca, desde hace más de 5 años recibiendo obras de artistas nacionales e internacionales. <br><br>

	La plataforma DIGITALES incluye además, un protocolo de preservación que contribuya a la conservación no sólo de las prácticas digitales, sino también del contexto de creación de las obras. <br><br>

	La plataforma es el resultado de un trabajo multidisciplinario que incluye a los distintos actores involucrados en la generación y transmisión de las prácticas digitales, entre otros profesionales de la programación, de la archivología y del arte. Por otro lado, y de modo general este proyecto se encuadra en las reflexiones sobre la compleja interrelación entre la tecnología, el arte y la sociedad.

	<br><br><br>
	<p class="negrita">Bienales Museos de arte MBA/MAC</p> <p class="negrita">Bahía[in]sonora</p>


</div>


