<div class="main">
 <div class="col_left">
  <img src="images/autor/Alejandro_Thornton.png">
  <div class="right negrita">Alejandro Thornton</div>
  <img src="images/autor/Paula_Pellejero.JPG">
  <div class="right negrita">Paula Pellejero</div>
 </div>
 <div class="col_right">
  <div class="nombre_obra">Eva Revelde</div>
  <div class="seccion">Acerca de la intención del artista</div>
  <div class="negrita">
  	¿Qué puede decir sobre el título?
  </div>
  <div class="respuesta">
  </div>
  <div class="negrita">
  	¿Esta obra forma parte de una serie?
  </div>
  <div class="respuesta">
  </div>
  <div class="negrita">
  	¿Tiene requisitos inevitables esta obra?
  </div>
  <div class="respuesta">
  </div>
  <div class="negrita">
  	¿Otra información que considere pertinente para la comprensión de esta obra?
  </div>
  <div class="respuesta">
  </div>
  <p>
  	Breve resumen descriptivo de la obra, incluyendo aspectos tales como nivel de luz y sonido, exhibición en espacio abierto o cerrado y percepción que espera que experimente el espectador.
  </p>
  <div class="respuesta">
  </div>
 </div> 
</div>