<div class="main">
 <div class="col_left">
  <img src="images/autor/Tonia_Bonino.jpg">
  <div class="right negrita">Toia Bonino</div>
  <img src="images/autor/Christian_Delgado.png">
  <div class="right negrita">Christian Delgado</div>
  <img src="images/autor/Nicolas_Testoni.jpg">
  <div class="right negrita">Nicolás Testoni</div>
 </div>
 <div class="col_right">
  <div class="nombre_obra">INTEMPERIE. LA HABITACIÓN INFINITA</div>
  <div class="seccion">Acerca de la intención del artista</div>
  <div class="negrita">
  	¿Qué puede decir sobre el título?
  </div>
  <div class="respuesta">
  El título “Intemperie” alude a la relación entre espacios bajo techo y espacios a cielo abierto, implícita en una obra que propone desarrollar al interior de una arquitectura urbana y de una arquitectura rural, proyecciones de video cuya visibilidad depende, en definitiva, de los cambios de la luz exterior.
  </div>
  <div class="negrita">
  	¿Esta obra forma parte de una serie?
  </div>
  <div class="respuesta">
  Sí. Se trata de la primer obra de una serie en desarrollo que tiene por objetivo común vincular espacios urbanos y espacios rurales a través de proyecciones audiovisuales. 
  La próxima realización intentará unir, a principios de octubre de 2014, la “Oficina Proyectista”, espacio de arte situado en el microcentro de la ciudad de Buenos Aires, con una casa abandonada utilizada actualmente como chiquero y matadero, en la granja Don Mario, ubicada en la localidad de Burzaco, en el partido de Almirante Brown, en el gran Buenos Aires.
  </div>
  <div class="negrita">
  	¿Cuáles son las características esenciales de esta obra?
  </div>
  <div class="respuesta">
  “Intemperie” es una obra pensada para un sitio específico, o mejor dicho, para dos. Se trata, por un lado, de una proyección de video realizada sobre la ventana de una de las salas que dan a la calle de la casona María Luisa, actual sede del Museo de Bellas Artes, en Bahía Blanca. Consiste, por el otro, en tres proyecciones de video y dos instalaciones de sonido, desplegadas durante una única jornada -en el lapso de tiempo que va del día a la noche-, a lo largo de las habitaciones de la estación ferroviaria Tres Cuervos, ubicada en el partido de Puán, a 7 kilómetros de la localidad de Darregueira.
  </div>
  <div class="negrita">
  	¿Tiene requisitos inevitables esta obra?
  </div>
  <div class="respuesta">
  Tratándose de una obra de “sitio específico”, es requisito inevitable que se realice en los espacios pautados. Por otra parte, resulta también imprescindible que tanto en el Museo de Bellas Artes de Bahía Blanca como en la estación Tres Cuervos, la obra pueda ser transitada en el horario previsto, es decir, durante las horas que van del día a la noche.
  </div>
  <div class="negrita">
   ¿Otra información que considere pertinente para la comprensión de esta obra?
  </div>
  <div class="respuesta">
  Entre la casona María Luisa y la estación ferroviaria Tres Cuervos existe un vínculo de carácter histórico, que vuelve, a nuestro juicio, significativo el intento de conectar ambas arquitecturas.
  </div>
  <p class="cursiva">
  	Breve resumen descriptivo de la obra, incluyendo aspectos tales como nivel de luz y sonido, exhibición en espacio abierto o cerrado y percepción que espera que experimente el espectador. 
    (Teniendo en cuenta la naturaleza y propósito de este pedido de informe, tanto en esta respuesta como en lo que resta del cuestionario, consideraremos sólo la videoinstalación realizada en el ámbito del MBA/MAC).
  </p>
  <div class="respuesta">
   <p>En la sala “Domingo Pronsato” del Museo de Bellas Artes, la obra consiste en una proyección de video y sonido en loop realizada sobre el vidrio de la única ventana existente en dicho espacio. A fin de que el vidrio de la ventana oficie de pantalla, es preciso adherir un vinilo microperforado sobre la totalidad del mismo (sin incluir la banderola vidriada superior). <br><br></p>
   <p>En la pared opuesta a aquella de la ventana, centrado bajo el marco de la abertura que comunica a la sala “Pronsato” con la habitación vecina, se fijará un soporte especialmente diseñado para alojar un proyector en posición vertical (es importante que este soporte sea confeccionado en un material que no sofoque la ventilación interna del proyector). <br><br></p>
   <p>Sobre el piso, al pie del proyector, y unido a este por un cable vga o rca (según corresponda) se ubicará una computadora o, en su defecto, un equipo dvd que oficiará de reproductor del video, un equipo de sonido doméstico, destinado a amplificar el sonido reproducido, y una zapatilla electrica a la que conectan los distintos aparatos.<br><br></p>
   <p>Sobre la pared lateral opuesta a la puerta de entrada se debe plotear en un sola linea centrada y a la altura de los ojos de un visitante “promedio” (1,70 cms. aprox.) la frase: “Hay una hora de la tarde en que la llanura está por decir algo.” <br><br></p>
   <p>Por último, sobre la pared restante, aquella en la que se encuentra la abertura de ingreso a la sala desde el pasillo central del edificio, se ubicará una mesa pequeña con material complementario impreso en papel blanco mate de alto gramaje: una breve reseña histórica de la relación entre la casona María Luisa y la estación ferroviaria Tres Cuervos, una copia de el cuento El Sur, de Jorge Luis Borges (del que proviene la cita ploteada en la pared), copias fotográficas de las proyecciones realizadas en la estación Tres Cuervos, y una pila de postales para llevar.<br><br></p>
   <p>Luces: La obra debe presentarse con las luces de la sala apagadas, excepto por una luz tenue y puntal a apuntar sobre la mesa con material impreso, para facilitar la lectura durante las horas de sombra. Durante las horas de luz natural de un día soleado la proyección será prácticamente invisible existiendo sólo como indicio de la misma el sonido de la proyección. A medida que la luz del sol se retire la proyección de revelará poco a poco hasta lograr con la llegada de la noche máxima opacidad. A pesar de ello el vinilo microperforado aseguro siempre cierto grado de transparencia entre la imagen proyectado y el paisaje urbano que es posible apreciar a través de la ventana.</p>
   <p>Es preciso evaluar con particular atención la incidencia de la luz artificial proveniente de los espacios aledaños sobre la proyección. Demasiada luz artificial en el ambiente puede afectar la proyección, desvirtuando por completo el efecto y sentido la obra. <br><br></p>
   <p>Sonido: El sonido pasa de registrar el audio ambiente de la pampa (pájaros, viento) a el paso estruendoso de un tren carguero, por lo que conviene que sea perceptible en todo momento, sin que llegue a aturdir o a invadir las demás salas del museo cuando pasan los vagones.<br><br></p>
  </div>
  <div class="seccion">Historial de la técnica</div>
  <div class="negrita">
    ¿Cuál es el formato del master original?
  </div>
  <div class="respuesta">
  Video digital de alta definición, formato MOV, codec H264, resolución 1920 x 1080 p.
  </div>
  <div class="negrita">
    ¿Qué método se utilizó para la filmación?
  </div>
  <div class="respuesta">
  Toma directa con cámara Nikon D7000
  </div>
  <div class="negrita">
    ¿Se editó el trabajo? Detalles.
  </div>
  <div class="respuesta">
  Se editaron 4 planos secuencia -1 destinado al Museo de Bellas Artes, los otros 3 a la estación ferroviaria Tres Cuervos-, con el objetivo de ser reproducidos de manera continua sin que el “loop” sea percibido por los espectadores.
  </div>
  <div class="negrita">
    Si editado en computadora, ¿qué software -y qué versión- se utilizó?
  </div>
  <div class="respuesta">
  Final Cut Pro 7.0.3
  </div>
  <div class="negrita">
    ¿Cuál es la resolución de imagen preferida?
  </div>
  <div class="respuesta">
  1920 x 1080
  </div>
  <div class="negrita">
    Si el master está en un disco duro ¿Qué señal de salida de video se debe utilizar? ¿Cuál es la velocidad de proyección?
  </div>
  <div class="respuesta">
  La señal de salida que permita el aparato reproductor y convenga al proyector, aspirando siempre a la mayor resolución de imagen posible. La velocidad de proyección es de 25 cuadros por segundo.
  </div>
  <div class="seccion">Descripción de la técnica</div>
  <div class="negrita">
    El tipo de imagen previsto, requiere pantalla plana, monitor, proyección, ¿otro?
  </div>
  <div class="respuesta">
  Se requiere proyectar ubicando el proyector de video en sentido vertical, no horizontal como es habitual. La obra no es posible utilizando monitores de video.
  </div>
  <div class="negrita">
    ¿Cuál es la proporción de la imagen?
  </div>
  <div class="respuesta">
  16:9
  </div>
  <div class="negrita">
   ¿La obra es en color o en blanco y negro?
  </div>
  <div class="respuesta">
  La proyección es en color
  </div>
  <div class="negrita">
   ¿Cuántos canales?
   Si la obra está compuesta por más de un canal, ¿están sincronizados? ¿Cómo? 
  </div>
  <div class="respuesta">
   En el Museo de Bellas Artes, la obra se compone de una proyección monocanal.
  </div>
  <div class="negrita">
    El sonido ¿fue grabado en el momento o se añadió más tarde?
  </div>
  <div class="respuesta">
 El sonido de la proyección fue grabado junto con la imagen de video
  </div>
  <div class="negrita">
   Si se utiliza música ¿quién es el compositor?
  </div>
  <div class="respuesta">
  No se utiliza música
  </div>
  <div class="negrita">
   ¿Es Mono, Stereo, Dolby 5.1, otro?
  </div>
  <div class="respuesta">
  El sonido de las proyecciones es estéreo
  </div>
  <div class="negrita">
   ¿Cuántos parlantes?
  </div>
  <div class="respuesta">
  Dos
  </div>
    <div class="negrita">
   Dimensiones requeridas (mínimas y máximas)
  </div>
  <div class="respuesta">
  -Tamaño de la imagen<br>
   El tamaño de imagen coincide con el tamaño del video de la ventana de la sala “Domingo Pronsato”: 1,10 m. x 2,20 m.<br>
   -Tamaño de la sala<br>
   -Tamaño de la instalación<br>
    El tamaño de la instalación coincide con el de la sala para la que ha sido específicamente pensada.<br>
  </div>
  <div class="seccion">Equipos</div>
  <div class="negrita">
   Lista de todos los equipos necesarios para esta obra, incluyendo marca, modelo u otras especificaciones.
  </div>
  <div class="respuesta">
  - Mini proyector Acer K11<br>
  - Computadora Netbook Lenovo, Procesador: Intel de tecnología mobile, memoria: dos (2) GB Tipo DDR3-800/1067, Disco Duro: Trescientos Veinte (320) GB SATA, Placa de Sonido de 16 bits, pantalla LED 10.1'' WXGA 1024x576<br>
  - Equipo reproductor de sonido “minicomponente” Sony HCD/H650<br>
  </div>
  <div class="negrita">
   Estos equipos ¿acompañan a la obra o se deben obtener para cada montaje?
  </div>
  <div class="respuesta">
  Estos u otros equipos similares deben obtenerse para cada montaje de “Intemperie”.
  </div>
  <div class="negrita">
   ¿Qué características determinaron la elección de estos equipos?
  </div>
  <div class="respuesta">
  Su disponibilidad. Es decir, no fueron elegidos, sino que los teníamos a mano. Más allá de esta circunstancia, es importante que el proyector sea de reducidas dimensiones, tratándo al mismo tiempo de que cuente con la mayor luminosidad y resolución de imagen posibles. Es importante destacar que en función de las dimensiones del proyector es que debe construirse el soporte destinado a fijarlo al marco de la abertura en la que debe ir colocado.
  </div>
  <div class="negrita">
   Estos equipos ¿tienen un papel puramente funcional o un significado conceptual o estético?
  </div>
  <div class="respuesta">
 Los equipo son funcionales a la obra. Si bien no se busca ocultarlos por completo, no cumplen un rol destacado dentro de la propuesta estética.
  </div>
   <div class="negrita">
   Alguno de los equipos ¿es visible para el espectador cuando la obra está exhibida?
  </div>
  <div class="respuesta">
  El proyector es visible. Si bien no es significativo que clase de proyector es el utilizado, que el proyector esté a la vista es inherente al juego conceptual de la obra en la que se propone una proyección que durante ciertas horas es invisible. La presencia del proyector es, durante las horas de sol, indicio tangible de que, aún cuando no la veamos, la proyección sucede.
  </div>
  <div class="negrita">
   En caso de falla u obsolescencia de los equipos ¿acepta que sean reemplazados con nuevos componentes o tecnología?
  </div>
  <div class="respuesta">
  Sí. De hecho, la computadora netbook que utilizábamos fue robada a poco de abrir la bienal 2014 y debió ser reemplazada por un equipo de escritorio propiedad del museo. 
 </div>
 <div class="negrita">
   Esta obra ¿tiene requisitos especiales de energía? ¿Cuáles?
  </div>
  <div class="respuesta">
   No.
 </div>
  <div class="negrita">
   ¿Se necesitan conocimientos técnicos especiales para instalar esta obra? ¿Cuáles?
  </div>
  <div class="respuesta">
   No, sólo conocimientos básicos relacionados con la conexión entre equipos y la reproducción de videos desde una computadora. Por otra parte, es preciso tener conocimientos convencionales de montaje en un museo, necesarios para: fijar a la pared vinilo de corte, fijar a la ventana vinilo microperforado, fijar al piso y la pared algunos metros de cablecanal.
 </div>
  <div class="negrita">
   ¿Cuánto tiempo es necesario para instalar la obra?
  </div>
  <div class="respuesta">
   Contando con todos los equipos y materiales necesarios, dos jornadas de seis horas cada una.
 </div>
 <div class="negrita">
   Si la obra se compone de varias partes ¿deben mostrarse como una unidad o pueden ser exhibidas por separado?
  </div>
  <div class="respuesta">
   En principio la obra, que consta de dos partes ubicadas en dos espacios distantes, fue concebida para que ambas partes ocurran de manera consecutiva: la intervención en Tres Cuervos durante la jornada previa a la inauguración, en el MBA/MAC, de la Bienal Regional de Arte 2014 destinada a durar por su parte, alrededor de 3 meses. De reeditar la instalación en la María Luisa resultaría ideal intentar una nueva intervención en Tres Cuervos. De todos modos, también sería concebible repetir la instalación en la María Luisa contando en la mesa destinada a documentación complementaria con abundante material de registro de lo sucedido en su momento en la estación Tres Cuervos.
 </div>
 </div> 
</div>