<div class="main">
    <h3>Eva Rebelde</h3>
    <div class="obra">
        <iframe src="//player.vimeo.com/video/58937710" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="descripcion">
     <p>1er Premio Categoria Arte Bienal Nacional de Bah&iacute;a Blanca 2013.</p> 
     <p>Selecci&oacute;n Festival Bah&iacute; in sonoro 2013.</p>
    </div>

</div>


<!--
<div class="navbar">
    <div class="navbar-inner">
      <ul class="nav width_100">
        <li class="artist margin-left_25">Artista</li>
        <li class="title">Titulo</li>
        <li class="resid">Lugar</li>
      </ul>
     <hr>
     <% _.each(sonoros, function(sonoro){ %>
	 <ul class="list-art">
	  <a href="#">
	   <li class="artist"><%= sonoro.get("artista") %></li> 
	   <li class="title"><%= sonoro.get("titulo") %></li> 
	   <li class="resid"><%= sonoro.get("residencia") %></li> 
	  </a>
     </ul>
     <hr>
     <% }); %>
    </div>
</div>
-->