<div class="columna_sonoros">
	<h5>Categoria arte sonoro</h5>
	<%_.each(obras, function(obra){
		if(obra.get("tipo")=="sonoro"){%>
		    <div class="obra_detalle">
			<a href="#/obra/<%= obra.get("tag")%>">
			  <%
			  if (obra.get('premio')!=null){
			    if (obra.get("premio")=="Ganador"){%> 
			       <h5>Premio</h5> <%}
			    else {%> 
			  	   <h5>Mencion jurado</h5> 
			 	   <%}
			  }%>
	       	  <div><%= obra.get("autores")%></div>
      		  <div class="bold"><%= obra.get("titulo")%></div>
			  <div><%= obra.get("lugar")%></div>
		    </a>
			</div>
	    <%}
	})%>
</div>
<div class="columna_videos">
	<h5>Categoria video arte</h5>
	<%_.each(obras, function(obra){
		if(obra.get("tipo")=="video"){%>
		  	<div class="obra_detalle">
			<a href="#/obra/<%= obra.get("tag")%>">
			  <%
			  if (obra.get('premio')!=null){
			    if (obra.get("premio")=="Ganador"){%> 
			       <h5>Premio</h5> <%}
			    else {%> 
			  	   <h5>Mencion jurado</h5> 
			 	   <%}
			  }%>
			  <div><%= obra.get("autores")%></div>
			  <div class="bold"><%= obra.get("titulo")%></div>
			  <div><%= obra.get("lugar")%></div>
	  	    </a>
    	    </div>
	    <%}
	})%>
