<div class="main">
	<h3> CRÉDITOS</h3>
	<b>SON DIGITALES</b> fue subsidiado por el Centro de Producción Digital - Provincia de Buenos Aires Convocatoria de Proyectos 2013<br><br>

	<b>Coordinación general:</b> Christian Díaz (<a href="http://www.christiandiaz.com.ar"> www.christiandiaz.com.ar </a>) <br><br>

	<b>Desarrollo Web:</b> Victoria Ganuza (<a href="mailto:victoriaganuza@gmail.com"> victoriaganuza@gmail.com </a>) <br><br>

	<b>Diseño:</b> Christian Díaz <br><br>

	<b> Asesoramiento técnico: </b> <br>
	Ricardo de Armas <a href="http://www.ricardodearmas.mibvc.com.ar"> www.ricardodearmas.mibvc.com.ar </a><br>
	Nicolás Testoni <a href="http://nicolastestoni.com.ar"> www.nicolastestoni.com.ar </a><br>
    Vanina Hofman <a href="http://taxonomedia.net"> www.taxonomedia.net </a><br><br>

   <b> Instituciones que apoyan:</b> <br>

 	Museos de Arte MBA-MAC Bahía Blanca – Directora: Cecilia Miconi<br>


	Instituto Cultural- Municipalidad de Bahía Blanca – Director: Sergio Raimondi<br>


	Bahía[in]sonora - Coordinación general: Ricardo de Armas<br>


	Centro de Producción Digital . Instituto Cultural de la Provincia de Buenos Aires.<br>

	<div class="logos_cred">
		<img src="images/Logo_Mac.png">
		<img src="images/Logo_Muni.png">
		<img src="images/Logo-CPD_nombre.png">
		<img src="images/IICRAM_1.png">
		<img src="images/taxonomedia.jpg">http://taxonomedia.net
	</div>

</div>


